<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowTextColors</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Sticker Style v3.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.StickerStyle</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sticker Style</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>DisableCombineConsecutive</key>
	<false/>
	<key>DefaultVariant</key>
	<string>Blue &amp; Purple</string>
	<key>DisableCustomBackground</key>
	<false/>
	<key>MessageViewVersion</key>
	<integer>4</integer>
	<key>ShowsUserIcons</key>
	<true/>
	<key>DefaultFontFamily</key>
	<string>Helvetica Neue</string>
	<key>DefaultFontSize</key>
	<integer>13</integer>
</dict>
</plist>
